.launch {
  width: 40%;
  postion: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  border-radius: 0.5em;
  background-color: #f2f2f2;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
}

.rocket {
  margin-left: 0.6em;
  margin-top: 1em;
  margin-bottom: 0;
  text-align: left;
  width: 80%;
}

.agency {
  color: #999999;
  margin-top: 0em;
  margin-left: 0.6em;
  margin-bottom: 0em;
  text-align: left;
  width: 80%;
}

.location {
  color: #999999;
  margin-top: 0em;
  margin-left: 1em;
  margin-bottom: 0em;
  text-align: left;
  width: 80%;
}

.date {
  color: #999999;
  margin-top: 0em;
  margin-left: 1em;
  margin-bottom: 0em;
  text-align: left;
  width: 80%;
  z-index: 1;
}

.rocketImage {
  margin-left: 1em;
  margin-bottom: 1em;
}
